body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #efeeff;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  background-attachment: fixed;
  margin: 10px 0 auto;
}
html {
  scroll-behavior: smooth;
}
.btn-group button {
  color: #a2a8d3;
  cursor: pointer;
  background: none;
  padding: 10px 18px;
  float: left;
  border: 0;
  margin: 10px 10px;
}
.btn-group button:hover {
  background-color: beige;
}
.btn-group button:not(:last-child) {
  border-right: none;
}
img {
  border-radius: 10px;
  max-width: 70%;
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}
i:before {
  -webkit-font-smoothing: antialiased;
  position: relative;
  left: -100px;
  color: red;
}
