body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #efeeff;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  background-attachment: fixed;
  margin: 10px 0 auto;
}
html {
  scroll-behavior: smooth;
}
.foto {
  object-fit: cover;
  margin-left: 70px;
}
.btn-group button {
  color: #a2a8d3;
  cursor: pointer;
  background: none;
  padding: 10px 18px;
  float: left;
  border: 0;
  margin: 10px 10px;
}
.btn-group button:hover {
  background-color: beige;
}
.btn-group button:not(:last-child) {
  border-right: none;
}
img {
  border-radius: 10px;
  max-width: 70%;
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.follow {
  text-align: center;
}

.info {
  text-align: center;
  position: relative;
  bottom: -80px;
}
.container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
h5 {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-top: 20px;
}

.top:hover {
  cursor: pointer;
  color: black;
  letter-spacing: 2px;
  font-size: 25px;
  transition: all 0.11s ease-out;
  background: lightcoral;
}
.biografy {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
}
.listen {
  font-weight: 600px;
  font-style: italic;
}
.video {
  border-radius: 50px;
  border-bottom-style: groove;
  color: red;
}
.card-img-top {
  box-shadow: 4px 4px 4px #4d4d4e;
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-radius: 15px;
  padding: 4px;
}
.card-container {
  box-shadow: 5px 5px 5px #4d4d4e;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 5px;
  cursor: pointer;
}
.card {
  background-color: #a2a8d3;
  border-radius: 10px;
  width: calc(100% / 6);
  padding: 5px;
  border-top-right-radius: 10px;
}
.last,
.second,
.fourth {
  border-radius: 40px;
}

.lastfoto {
  border-top-right-radius: 20px;
}
.follow {
  margin: 30px 10px;
}
i {
  font-size: 32px;
  margin: 5px 5px;
  color: aquamarine;
}
.learn {
  text-align: center;
}
